#map {
    width: 800px;
    height: 400px;
    position: relative;
    animation-duration: 0.5s;
    margin-top: 5px;
    margin-bottom: 5px;
}

#side-navbar {
    min-height: 800%;
    left: -190px;
    transition-duration: 0.5s;
    position: fixed;
    z-index: 10;
    overflow-y: auto;
}

#side-navbar:hover {
    left: 0px;
}

#map-options {
    position: relative;
    bottom: -500px;
}

#fiche-site {
    position: relative;
    max-width: 820px;
}

#site-title {
    border-radius: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0 10px 0 10px;
    margin-bottom: 15px;
}

#quit-button {
    height: 40px;
    width: 40px;
    border: none;
}

#results {
    background-color: white;
    height: 400px;
    width: 200px;
    overflow-y: auto;
    display: block;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: right;
}

.results-item {
    list-style: none;
    padding: 5px 10px 5px 10px;
}

.results-item:hover {
    list-style: none;
    background-color: rgba(128, 128, 128, 0.37);
}

.menu-filters td {
    color: #003B55;
}

.select-menu {
    height: 200px;
}

.nav-map {
    position: relative;
    max-width: 600px;
}

.inner-site {
    background-color: #FCD066;
    color: #003B55;
    position: relative;
}

.bg-jo {
    background: #003B55;
}

.hidden {
    display: none;
}

.site-button {
    height: 40px;
    border: none;
}

.menu-list {
    border: 5px solid black;
}

.social-icon:hover {
    outline-color: white;
}

#city-filter {
    background-color: white;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
}