#map {
    width: 800px;
    height: 400px;
    position: relative;
    animation-duration: 0.5s;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
}

#side-navbar {
    min-height: 800%;
    left: -190px;
    transition-duration: 0.5s;
    position: fixed;
    z-index: 10;
    overflow-y: auto;
}

#side-navbar:hover {
    left: 0px;
}

#map-options {
    position: relative;
    bottom: -500px;
}

#descr-site {
    height: 100px;
    overflow-y: auto;
    border-bottom: 1px solid black;
}

#fiche-site {
    position: relative;
}

#site-title {
    border-radius: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0 10px 0 10px;
    margin-bottom: 15px;
    background-color: white;
    text-decoration: underline solid;
}

.site-photos {
    width: 500px;
    height: 280px;
    border: 1px solid black;
    border-radius: 5px;
    object-fit: cover;
}

#quit-button {
    height: 40px;
    width: 40px;
    border: none;
}

#results {
    background-color: white;
    height: 400px;
    width: 200px;
    overflow-y: auto;
    display: block;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: right;
    box-shadow: 0px 0px black;
}

.results-item {
    list-style: none;
    padding: 5px 10px 5px 10px;
}

.results-item:hover {
    list-style: none;
    background-color: rgba(128, 128, 128, 0.37);
}

.menu-filters td {
    color: #003B55;
}

.select-menu {
    height: 200px;
}

.nav-map {
    position: relative;
    max-width: 600px;
}

.inner-site {
    background-color: rgb(255, 255, 255);
    color: #003B55;
    position: relative;
}

.bg-jo {
    background: no-repeat #D7C378 linear-gradient( #F6F1E9, #D7C378);
}

.hidden {
    display: none;
}

.site-button {
    height: 40px;
    border: none;
}

.site-button:hover {
    background-color: rgb(190, 190, 104);
}

.menu-list {
    border: none;
}

.social-icon {
    transition-duration: 0.2s;
}

.social-icon:hover {
    outline-color: white;
    filter: drop-shadow(0 0 0.75rem rgb(255, 251, 252));
    margin-top: 5px;
}

.inner-filter {
    background-color: white;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    margin: 0px 5px 0px 5px;
}

.epr-list {
    list-style-type: circle;
    text-indent: 5px;
}

.dropdown .menu-list:hover {
    color: rgb(129, 129, 129);
}

#header-title {
    color: white;
    font-size: 22px;
    position: absolute;
    margin-left: 10px;
    top: 26px;
    left: 5px;
    text-shadow: 1px 1px 2px white, 3px 1px 0.1em black, -4px 2px 0.2em rgb(224, 224, 133);
    text-transform: uppercase;
}

div .site-button:focus,
div .menu-list:focus {
    outline: 0;
    box-shadow: none;
}