#map {
    width: 800px;
    height: 400px;
    border: 3px solid black;
    border-radius: 10px;
    position: relative;
    animation-duration: 0.5s;
}

#side-navbar {
    min-height: 800%;
    left: -190px;
    transition-duration: 0.5s;
    position: fixed;
    z-index: 10;
    overflow-y: auto;
}

#side-navbar:hover {
    left: 0px;
}

#map-options {
    position: relative;
    bottom: -500px;
}

#fiche-site {
    position: relative;
    max-width: 820px;
}

#quit-button {
    height: 40px;
    width: 40px;
    border: none;
}

.hidden {
    display: none;
}

.site-button {
    height: 40px;
    border: none;
}