#map {
    width: 700px;
    height: 400px;
    margin-top: 2px;
    position: relative;
    animation-duration: 0.5s;
}

#side-navbar {
    min-height: 800%;
    left: -190px;
    transition-duration: 0.5s;
    position: fixed;
    z-index: 10;
    overflow-y: auto;
}

#side-navbar:hover {
    left: 0px;
}

#map-options {
    position: relative;
    bottom: -500px;
}

#fiche-site {
    position: relative;
    max-width: 820px;
}

#site-title {
    border-radius: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0 10px 0 10px;
    margin-bottom: 15px;
}

#quit-button {
    height: 40px;
    width: 40px;
    border: none;
}

.select-menu {
    height: 200px;
}

.nav-map {
    position: relative;
    max-width: 600px;
}

.inner-site {
    background-color: #FCD066;
    color: #003B55;
    position: relative;
}

.bg-jo {
    background: #003B55;
}

.hidden {
    display: none;
}

.site-button {
    height: 40px;
    border: none;
}

.menu-list {
    border: 5px solid black;
}

.social-icon:hover {
    outline-color: white;
}